.App {
  text-align: center;
  padding: 15px;
}

.App h2 {
  font-weight: normal;
  font-size: 36px;
}

.App-logo {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
}

.App-header {
  background-color: #3f3f3f;
  padding: 5px;
}

.App-intro {
  font-size: large;
}

.InsideBox {
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 30px;
}

.SocialNetworks {
  list-style: none;
  padding: 0;
}

.SocialNetworks li {
  display: inline-block;
  width: 33.333333%;
  margin: 0;
  font-size: 19px;
}

.twitter {
  color: #5EA8DD;
}

.facebook {
  color: #3C5988
}

.fa {
  margin-right: 5px;
}
