.Poster-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}

.Poster-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Poster-image {
  width: 44%;
  margin: 0 28%;
}

.Poster-text-container {
  width: 90%;
  font-size: 2vw;
}

small {
  display: block;
  font-size: 75%;
}

.background {
  background: url('background.JPG');
}

.Poster-presentadores-container {
  list-style: none;
  border-left: 5px solid;
  padding-left: .8em;
  font-size: 3vw;
  font-weight: bold;
}

.CSITalks {
  background: #5d2765;
  color: #fff;
  font-family: "Lato", sans-serif;
}
.Poster-socialNetworks-item {
  display: flex;
}

.Poster-input {
  background: inherit;
  font-size: inherit;
  color: #fff!important;
  font-weight: bold;
  font-family: inherit;
  border: 0;
}

.Poster-socialNetworks-iconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #808080;
  font-size: 2vw;
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin-right: 5px;
}

.Poster-socialNetworks-itemList {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.Poster-socialNetworks-container {
  display: flex;
  align-content: flex-end;
}

.Poster-socialNetworks-CSILogo {
  width: 20%;
}

.Download-button {
  background: #1B998B;
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  line-height: 2;
  padding: .2rem 1rem .4rem;
  cursor: pointer;
  box-shadow: inset 0 -.2rem 0 rgba(0, 0, 0, .25);
  will-change: transform;
  transition: transform .2s;
}

.Download-button:active {
  transform: scale(0.9);
}

.Poster-information-container {
  /* background: #fff; */
  /* padding: .2em .8em; */
  box-sizing: border-box;
  margin: 20px 20%;
  /* width: 50%; */
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* border-radius: 5px; */
}

.Poster-information-container form {
  background: #fff;
  padding: 1em 1em 0;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0,0,0,.09);
}

.kronos-container {
  display: inline-block;
}

.Poster-information-container h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.Poster-information-container label {
  display: block;
  margin-bottom: .5em;
  /* margin-top: 20px;
  font-size: 15px;
  transform: scale(0.95);
  transform-origin: left top; */
}

.Poster-information-inputContainer {
  margin-bottom: 1em;
}

.Poster-information-input {
  display: block;
  width: 100%;
  padding: .5rem .75rem!important;
  font-size: 1rem!important;
  line-height: 1.25;
  color: #495057;
  background-color: #fff!important;
  background-image: none!important;
  background-clip: padding-box!important;
  border: 1px solid rgba(0,0,0,.15)!important;
  border-radius: 5px!important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s!important;
  font-family: "Roboto", Arial, Helvetica, sans-serif!important;
}

.Poster-information-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
}

.Poster-socialNetworks-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Poster-socialNetworks-iconContainer img {
  width: 70%;
}
/*
.Poster-information-input-container::after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: all .5s ease;
}

.Poster-information-input-container:hover::after {
  width: 100%;
  background: #D7263D;
}*/

.Poster-information-input:focus {
  outline: 0px;
}

@media all and (max-width: 768px) { 
  .Download-button {
    width: 100%;
  }
} 